<h1>Building Results</h1>

<table class='table table-striped'>
  <thead class="thead-dark">
    <tr>
      <th>Address</th>
      <th>Property Manager</th>
    </tr>
  </thead>
  <% @buildings.each do |building| %>
    <tr>
      <td><%= link_to building.address, building_path(building) %></td>
      <td><%= link_to building.property_manager.name, property_manager_path(building.property_manager) %></td>
    </tr>
  <% end %>
</table>
