



<h1>Welcome to BORO</h1><br>

<% if !session[:user_id] %>
  <h4><%= link_to "Log In", login_path %></h4> <br>
  <h4><%= link_to "Sign Up", new_user_path %></h4>
  <h4><%= link_to "View Statistics", statistics_path %></h4>

<% end %>

  <h4><%= link_to "View Statistics", statistics_path %></h4>

<div id="wrapper">
  <h1>Welcome to BORO</h1><br>

  <p>Some about text...</p>
</div>
